$transition-time: 0.5s;
$heading-font: 'Oswald', sans-serif;

.about-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: #1D2F33;
    padding-bottom: 30px;
}

.about-right-area {
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #1D2F33;
    padding: 0 15%;
}

.about-left-area {
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #1D2F33;
}

.heading {
    font-size: 55px;
    font-family: $heading-font;
}

.img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    transform: scale(1, 1);
    transition: $transition-time;
    margin-bottom: 30px;

    &:hover {
        transform:scale(1.03, 1.03);
    }
}

a {
    text-decoration: none;
}

@media only screen and (min-width: 780px) {

    .about-right-area {
        width: 100vw;
        height: 40vh;
    }
    
    .about-left-area {
        width: 100vw;
    }

}

@media only screen and (min-width: 992px) {

    .heading {
        font-size: 100px;
    }

    .about-right-area {
        width: 50vw;
        height: 100vh;
        padding: 0%;
        align-items: center;
    }
    
    .about-left-area {
        width: 50vw;
        height: 100vh;
        background-color: #A67B77;
        align-items: center;
    }

    .about-container {
        padding-bottom: 0px;
    }

}