$text-color: rgb(255, 255, 255);
$heading-font: 'Oswald', sans-serif;


.header-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-size: cover;
    background-image: url('../img/background.jpg');
}

h1 {
    color: $text-color;
    font-family: $heading-font;
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

h2 {
    width: 100%;
    font-family: lato;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

@media only screen and (min-width: 992px) {

    h1 {
        font-size: 120px;
    }
}
